@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-center text-primary">Beställningen lyckades!</h1>
        Ditt Beställningsnummer är: @Model
    </div>
    <div class="col-12 text-center" style="color:gray">
        <br/>
        Din order är skickad
        <br/>
    </div>
</div>